<div class="nested-fields">
  <div class="input-field">
    <%= f.input :description, input_html: { class: "form-control" } %>
  </div>
  <div class="input-field col-3 pl-0">
    <%= f.input :priority, collection: Task.priorities, input_html: { class: "form-control" }, label_method: :first, value_method: :first %>
  </div>
  <%= link_to_remove_association "Remove Task", f, { class: "btn btn-secondary btn-sm" } %>
</div>
